[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.supabase.co https://fonts.googleapis.com https://fonts.gstatic.com"
    Access-Control-Allow-Origin = "*"

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200
